.portfolios {
    font-family: 'Montserrat', 'Roboto';
    position: relative;
    display: flex;
    min-height: 100vh;
    background-image:
        linear-gradient(to bottom, rgba(50, 65, 88, 0.82), rgba(50, 65, 88, 0.52)),
        url("./portfolio.jpg");
    overflow: hidden;
    align-items: center;
    background-size: cover;
    background-position: center;

}




.portfolio {
    color: white;

}

.portfoliosTitle {
    color: #DBB89A;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolioImage {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.carousel {
    width: 500px;

}

.portfolioListText p{
    display:inline-block;
    color: #DBB89A ;
    text-decoration: none !important;
    font-weight: bold;
}
.portfolioListText p:hover{
   
    color: white ;
    
}
.portfolioListText p:focus{
   
    color: white ;
    
}
.separateLine {



    border-right: 1px solid #DBB89A;
}