.portfolios {
    font-family: 'Montserrat', 'Roboto';
    position: relative;
    display: flex;
    min-height: 100vh;
    background: rgba(50, 65, 88, 0.8);
    overflow: hidden;
    align-items: center;

}

.portfoliosImg {
    content: url("./portfolio.jpg");
    max-width: 100%;
    position: absolute;
    z-index: -1;
}


.containerStyle{
  position: absolute;
   
}
.portfolio {
    color: white;

}

.portfoliosTitle {
    color: #DBB89A; 
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolioImage{
    width:500px;
    height: 300px;
    object-fit: cover;
}
.carousel{
    width:500px;

}
