.navbar{
    font-family: 'Montserrat','Roboto';
    background-color: #324158;
    font-weight: 500;
}
a{
    color:#DBB89A;
}
a:hover{
    color:white;
    text-decoration: none;
}
a:focus{
    color:white;
}
.navbar-expand .navbar-nav .nav-link{
    padding-right:1rem;
    padding-left:1rem;
    font-size: 2vh;
}