.home {
    font-family: 'Spectral', 'Roboto';
    position: relative;
    background-image:
        linear-gradient(to bottom, rgba(50, 65, 88, 0.82), rgba(50, 65, 88, 0.52)),
        url('./portrait.jpg');
    background-size: cover;
    background-position: 30% 30%;
    background-attachment: fixed;
    overflow: hidden;
}


.introduction {
    padding: 15vw 30vw 10vw 30vw;
    min-height: 100vh;
}

.introductionText {
    text-align: left;
    color: #DBB89A;
    font-size: 100px;
    font-weight: 500;


}

.dot {
    color: #324158;
}

.introductionSubText {
    text-align: left;
    color: #DBB89A;
    font-weight: lighter;
    font-size: 20px;
}

.buttonText {
    display: flex;
    justify-content: space-between;

}

.moreButton {
    border-radius: 4px;
    border-style: solid;
    border-color: #DBB89A;
    color: #DBB89A;
    background-color: transparent;
    font-size: 20px;
    width: 150px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    border-width: thin;
}

.moreButton:hover {
    background-color: rgba(219, 184, 154, 0.2);
}

.moreButton:focus {
    outline: none;
}

.moreButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.moreButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.moreButton:hover span {
    padding-right: 12px;
}

.moreButton:hover span:after {
    opacity: 1;
    right: 0;
}

.popupText {
    text-align: center;
    color: #DBB89A;
}

.popupText h1 {
    margin-top: -15px;
    font-weight: bold;
    font-size: 4vh;
}

.popupText p {
    font-size: 2.5vh;
    line-height: 1.6;
    font-weight: 100;
}


@media screen and (max-width: 768px) {
    .introduction {
        padding: 25vw 10vw 10vw 10vw;
        min-height: 70vh;
    }

    .professionalWrapper {
        padding: 15vw 10vw 10vw 10vw;
    }

    .introductionText {
        font-size: 80px;
    }

    .introductionSubText {
        font-size: 15px;
    }

    .moreButton {
        font-size: 15px;
        width: 75px;
    }

}

@media screen and (min-width: 470px) and (max-width: 768px) {
    .introductionText {
        font-size: 100px;
    }

    .introductionSubText {
        font-size: 20px;
    }

    .moreButton {
        font-size: 20px;
        width: 150px;
    }
    


    .professionalWrapper {
        padding: 15vw 20vw 10vw 20vw;
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .introduction {
        padding: 15vw 20vw 10vw 20vw;
        min-height: 80vh;
    }

}