.professional {
    font-family: 'Spectral', 'Roboto';
    position: relative;
    background-image:
        linear-gradient(to bottom, rgba(50, 65, 88, 0.9), rgba(50, 65, 88, 0.9)),
        url("./professionals.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.professionalWrapper {

    padding: 10vw 30vw 10vw 30vw;

}

.professionalTitle {
    color: #DBB89A;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #DBB89A;
}


.skillContainer {
    font-weight: bolder;
    color: #DBB89A;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.skillText {
    padding-right: 1vh;
}

.skillWidth {
    width: 60vh;
    display: flex;
    align-items: center;
}

.html {
    width: 90%;
    background-color: #DBB89A;
}

.css {
    width: 70%;
    background-color: #DBB89A;
}

.js {
    width: 65%;
    background-color: #DBB89A;
}

.react {
    width: 60%;
    background-color: #DBB89A;
}

.pts {
    width: 50%;
    background-color: #DBB89A;
}

.sql {
    width: 60%;
    background-color: #DBB89A;
}

.percentage {
    padding-left: 1vh;
}
@media screen and (max-width: 768px) {
    .professionalWrapper{
        padding: 25vw 10vw 10vw 10vw;
    }
    .skillText,.percentage{
        font-size:12px;
    }
   }
   @media screen and (min-width:768px) and (max-width: 992px) {
    .professionalWrapper{
        padding: 25vw 25vw 10vw 25vw;
    }
    .skillText,.percentage{
        font-size:12px;
    }
    
   }